<!DOCTYPE html>
<html>

    <head>
        <title>Alpha Blog</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <style>
    </style>

    <body>
        <div class="container">
            <div class="blog-post">
              <h1>About me</h1>
                <h2>Danielle Perez</h2>
                    <p class="main-text">
                    I really like ice creams and sunbathing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.   
                    </p>

                    <a href="http://www.udemy.com" target="_blank">Link to udemy</a>
          
            </div>
            <div class="other-posts">
                    <div class="other">
                        <%= link_to 'Home', root_path %>
                    </div>
            </div>
                
            <div class="clearfix"></div>

                <div class="author-box">
                    </p>
                    <%= image_tag 'author.jpg' %>
                    <!--<img src= alt="author photo">-->
                    <p class="author-text">Danielle Perez</p>
                </div>
        </div>
    </body>



</html>